body {
    font-family: 'Great Vibes', Great Vibes, Great Vibes;
    background-color: whitesmoke;
    margin: 0;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
}

#contact-form {
    max-width: 300px;
    margin: auto;
    background: elegant blanchedalmond  ;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}
input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid w;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}




button {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}